streamlit==1.38.0
llama-index==0.7.5.post1
langchain==0.0.318
streamlit-authenticator==0.3.3
pydantic==1.10.12 
PyPDF2
python-docx==1.1.2
gtts==2.5.3
langdetect==1.0.9
deep-translator==1.11.4
pillow==10.4.0
typing-extensions==4.9.0
